/***********************/
/*       FONT       */
/***********************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
/***********************/
/*       GENERAL       */
/***********************/
body {
    background: #e9e9e9;
}
h1 {
    color: #ffffff;
    font-weight: 600;
    font-size: 48px;
}
.datepicker{ z-index: 2000;}
#main-content .badge { font-size: 18px !important; color: #ffffff;}
.card {
  border-radius: 0px !important;
}
.card-header {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    background: #1b222c;
    text-transform: uppercase;
    border-radius: 0px !important;
}

/***********************/
/*        LOGIN        */
/***********************/
#login .logo img, #register .logo img {
  width: 145px;
}
/*********************/
/*      NAVBAR       */
/*********************/
.user-profile-container .user-profile {
    display: table;
    width: 100%;
}
.user-profile-container .user-profile .admin-user-thumb img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.user-profile-container .user-profile .admin-user-thumb {
  display: table-cell;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  padding: 15px 0px 15px 15px;
}
.user-profile-container .user-profile .admin-user-info {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
  color: #aaaaaa;
}
.user-profile-container .user-profile .admin-user-info .user-info {
  padding: 0px;
  margin: 0px;
  list-style: none;
  float: left;
}
.user-profile-container .user-profile .admin-user-info .user-info li span {
  color: #ffffff;
  font-size: 18px;
  text-transform: capitalize;
}
.user-profile-container .user-profile .admin-user-info .logout-icon {
  float: right;
  margin-top: 14px;
  margin-right: 10px;
}
.user-profile-container .user-profile .admin-user-info .logout-icon a i {
  color: #ffffff;
  font-size: 25px;
}
ul.sidebar-menu li a span {
  font-size: 14px;
}
ul.sidebar-menu .active a {
  background: #28282e;
  border-left: 5px solid #1fb5ac;
  padding-left: 15px;
  color: #1fb5ac;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
  border-left: 5px solid #1fb5ac;
}
ul.sidebar-menu .list-title-sidebar {
  background: #22636a;
}
ul.sidebar-menu .list-title-sidebar span {
  color: #FFFFFF;
  display: block;
  padding: 18px 0 18px 25px;
  text-transform: uppercase;
  font-weight: 600;
}
/***********************/
/*      SIDEBAR       */
/***********************/
#aside .badge { background: #1fb5ac !important; color: #ffffff;}
#aside .nav.nav-tabs {border-bottom: 1px solid #1b222c;margin: 0;position: relative;top: -40px;}
#aside .nav > li > a {position: relative;display: block;padding:9px 19px 9px;}
#aside .nav.nav-tabs li{margin-right:1px;}
#aside .nav.nav-tabs li i{font-size:18px;color:#fff; width: auto; height: auto;}
#aside .nav-tabs > li > a.active { border: 1px solid #22636a; background: #22636a; border-bottom: 1px solid #22636a !important; color: #fff; border-radius: 0px; border-top-left-radius: 2px; border-top-right-radius: 2px; }
#aside .nav-tabs > li.active > a i,
#aside .nav-tabs > li > a:hover i,
#aside .nav-tabs > li > a:focus i {border-radius: 0px;border-top-left-radius: 2px;border-top-right-radius: 2px;}
#aside .tab-content {position: relative;top: -40px;margin-bottom:-40px;}
.user-info{float:left;}
ul.user-info li a{color:#fff;}
.logout-icon{float:right;margin-top:6px;margin-right:10px;}
.logout-icon a i{color:#fff;font-size:16px;}
#aside.material-leftbar {background-color: #fff;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);}
.material-menu .main-container {margin-left: 250px;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);position: relative;min-height:100%;}
.material-menu #aside {-webkit-transform: translate(0, 0);-moz-transform: translate(0, 0);-o-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);}
.material-menu.left-aside-toggle #aside {-webkit-transform: translate(-250px, 0) !important;-moz-transform: translate(-250px, 0) !important;-o-transform: translate(-250px, 0) !important;-ms-transform: translate(-250px, 0) !important;transform: translate(-250px, 0) !important;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);}
.material-menu.left-aside-toggle .main-container {margin-left: 0px !important;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);}
.overlay-leftbar .main-container {margin-left: 0px;}
.overlay-leftbar #aside {-webkit-transform: translate(-250px, 0);-moz-transform: translate(-250px, 0);-o-transform: translate(-250px, 0);-ms-transform: translate(-250px, 0);transform: translate(-250px, 0);-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);}
.overlay-leftbar.left-aside-toggle #aside {-webkit-transform: translate(0, 0);-moz-transform: translate(0, 0);-o-transform: translate(0, 0);-ms-transform: translate(0, 0);transform: translate(0, 0);-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);}
#aside .nav.nav-tabs{top:-36px;}
.sidebar-accordion {padding: 0px;}
.sidebar-accordion .list-title {font-size: 11px;text-transform: uppercase;padding:10px 15px 5px;color:rgba(255,255,255,0.3);border-top: 1px solid rgba(0,0,0,0.15);}
.sidebar-accordion .list-title:first-child{border:none;}
.sidebar-accordion .list-title .label {position: relative;font-size: 12px;top: -1px;font-weight: 500;}
.sidebar-accordion li {position: relative;list-style: none;}
.sidebar-accordion li > a {display: block;position: relative;}
.sidebar-accordion li > a > .label {position: relative;top: -2px;left:0px;font-family:open_sanssemibold;font-size: 9px;}
.sidebar-accordion li ul {display: none;position: relative;padding-left: 0px;padding-right:0px;}
.sidebar-accordion li ul li {position: relative;}
.sidebar-accordion li ul li a {color:#90A4AE;position: relative;padding:7px 10px 6px 42px;font-size:13px;}
.sidebar-accordion li ul li li a {padding:7px 10px 7px 55px;}
.sidebar-accordion li ul li li li a {padding: 7px 10px 7px 70px;}
.sidebar-accordion li.active>a,.sidebar-accordion li ul li a.active {background:rgba(0,0,0,.15);color:#fff;}
.sidebar-accordion li ul li a:before{content: "";padding-right:7px;top: 1px;position: relative;}
.sidebar-accordion li ul li a .acc-icon {top: 7px;}
.sidebar-accordion li ul li a:hover,.sidebar-accordion li ul li a:focus {text-decoration: none;color: #90A4AE;-webkit-transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);transition: all 350ms cubic-bezier(0.19, 1, 0.22, 1);}
.sidebar-accordion > li > a {font-size:14px;color: #90A4AE;padding:12px 15px 11px;display: block;vertical-align: middle;position: relative;}
.sidebar-accordion > li > a.active, .sidebar-accordion > li > a.acc-parent.active {background-color: rgba(0,0,0,.25);color: #fff;}
.sidebar-accordion > li > a.active, .sidebar-accordion > li > a.acc-parent.active i{color: #fff;}
.sidebar-accordion > li > a > i {margin-right: 8px;font-size: 16px;position: relative;top: -2px;text-align: left;color: #90A4AE;}
.sidebar-accordion li ul:after {content: "";height: 100%;width: 0px;border-left: 1px solid rgba(255,255,255,.4);position: absolute;top: 0px;left: 23px;}
.sidebar-accordion li ul li a:before {border-color: rgba(0, 0, 0, 0);background: #90A4AE;bottom: auto;content: "";height: 7px;left: 20px;margin-top: 13px;position: absolute;right: auto;width: 7px;z-index: 1;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.sidebar-accordion li ul li:last-child a{margin-bottom:10px}
.acc-icon {display: inline-block;width: 14px;position: absolute;right: 14px;text-align: center;top: 12px;}
.acc-icon:after {content:"\e9c3";font-family: 'icomoon';display: inline-block;width: 14px;position: relative;color:#90A4AE;top:1px;font-size: 16px;}
.acc-parent.active .acc-icon:after {display: inline-block;width: 14px;content:"\e9c1";font-family: 'icomoon';}
.tab-pane.email{padding:15px;}
.tab-pane.profile{padding:15px;}
.tab-pane.settings{padding:15px;}
.email-buttons{padding:10px;}
.tab-pane.email .email-buttons .row [class*=col-] {padding-left: 5px;padding-right: 5px;}
.tab-pane.email .search {position: relative;width: 100%;}
.tab-pane.email .search input.form-control {padding-left: 36px;border-color: #e5e5e5;box-shadow: none;}
.tab-pane.email .search input.form-control:focus {border-color: #ccc;}
.tab-pane.email .search .addon-icon {width: 38px;height: 38px;display: inline-block;position: absolute;}
.tab-pane.email .search .addon-icon i {width: 38px;height: 38px;font-size: 18px;position: relative;color: #868686;top: 1px;display: inline-block;text-align: center;line-height: 38px;}
.tab-pane.profile img.user-avatar{width:80%;}
.tab-pane.profile .connect-buttons .btn-group {width:100%;}
.tab-pane.profile .users-online{padding:15px 0;}
.leftbar-heading{text-transform: uppercase;color:#90A4AE;font-family: 'open_sanssemibold';font-size:13px;}
.users-online .media {margin-top: 10px;}
.users-online .media-heading {margin-bottom: 0px;}
.user-profile-container {background: url(../img/app/bg-menu-user.png) no-repeat bottom right; background-size: 100% 100%; height: 120px;}
.user-profile-container .user-profile {display: table;width: 100%;}
.user-profile-container .user-profile > div {display: table-cell;vertical-align: middle;}
.user-profile-container .user-profile .admin-user-thumb {width: 48px;height: 48px;padding: 15px 0px 15px 15px;}
.user-profile-container .user-profile .admin-user-thumb img {width: 48px;height: 48px;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.user-profile-container .user-profile .admin-user-info {padding: 15px;color: #aaaaaa;}
.user-profile-container .user-profile .admin-user-info ul {padding: 0px;margin: 0px;list-style: none;}
.user-profile-container .user-profile .admin-user-info ul li {line-height: normal;}
.user-profile-container .user-profile .admin-user-info ul li a:hover,.user-profile-container .user-profile .admin-user-info ul li a:focus {text-decoration: none;color: #fff;}
.sidebar .menu-list .list-title{color: #90A4AE;}
.sidebar .menu-list i {color: #90A4AE;}
.sidebar .menu-list li>a:focus, .menu-list li>a:hover {background-color: #455A64;}
.sidebar p.text-size-mini{line-height:22px;}
/***********************/
/*      CALENDAR       */
/***********************/
.fc-today {
  background: #b3b0c5;
}
.fc-event-skin {
    background-color: #d9534f !important;
    border-color: #d9534f !important;
    color: #FFFFFF !important;
}
/***********************/
/*      META SEO       */
/***********************/
.fixed-table-header-columns,
.fixed-table-body-columns {
    position: absolute;
    background-color: #fff;
    display: none;
    box-sizing: border-box;
    overflow: hidden;
}

.fixed-table-header-columns .table,
.fixed-table-body-columns .table {
    border-right: 1px solid #ddd;
}

.fixed-table-header-columns .table.table-no-bordered,
.fixed-table-body-columns .table.table-no-bordered {
    border-right: 1px solid transparent;
}

.fixed-table-body-columns table {
    position: absolute;
    animation: none;
}
.bootstrap-table .table-hover > tbody > tr.hover > td{
    background-color: #f5f5f5;
}
/*******************************/
/*      SEARCH SCRAPPER        */
/*******************************/
.dt-position-website-true {
    background-color: #5cb85c !important;
    color: white;
}
#search-scrapper-google .alert-success,
#search-scrapper-google .alert-danger,
#website-scrapper-google .alert-success,
#website-scrapper-google .alert-danger {
    display: none;
}
/***************************/
/*      AUTOCOMPLETE       */
/***************************/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
/*********************/
/*  SIMULATEUR SEO   */
/*********************/
cite {
    font-size: 14px;
    font-style: normal;
    color: #006621;
}
h3.r{
    margin: 0;
    padding: 0;
}
.r a:link{
    color: #1a0dab;
    cursor: pointer;
    font-size: 18px;
}
.g{
    margin-top: 20px;
    font-family: arial,sans-serif;
    font-size: small;
}
#out_snippet {
    word-break: break-all;
}
/*********************/
/*      MEMBERS      */
/*********************/
.avatar {
  width: 40px;
  height: 40px;
  display: inline-flex;
  background-color: #4caf50;
  color: rgba(255,255,255,.85);
  border-radius: 50%;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
}
/*********************/
/*      PROFILE      */
/*********************/
.user-row {
    margin-bottom: 14px;
}
.user-row:last-child {
    margin-bottom: 0;
}
.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad{
  margin-top:20px;
}
/*********************/
/*      Export       */
/*********************/
.export-search-table {
  display: none;
}
/***********************/
/*      Datables       */
/***********************/
table.dataTable {
  border-collapse: collapse !important;
}
table.dataTable th {
  background: #1b222c !important;
  color: #FFF;
  vertical-align: middle !important;
  text-align: center;
  text-transform: uppercase;
}
table.dataTable tr {
  vertical-align: middle !important;
}
table.dataTable td {
  text-align: center;
}
table.dataTable tr.group td {
  text-align: left;
}
table.dataTable tr.group {
  background: #c7c7c7;
}
table.dataTable tr:not(.group) {
  background: #ffffff;
}
.adv-table .dataTables_length, .adv-table .dataTables_filter {
  padding: 0;
}
div.dt-buttons {
  float: right;
}
div.dt-button-background {
  background: transparent;
}
a.dt-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #ffffff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
a.dt-button:hover {
    background: #f1f2f7;
    background-image: none !important;
    border: 1px solid transparent !important;
}
a.buttons-collection {
    background: #ffffff !important;
    background-image: none;
    border: 1px solid #ccc !important;
}
a.buttons-collection:hover:not(.disabled) {
    background: #f1f2f7 !important;
    background-image: none !important;
    border: 1px solid #ccc !important;
}
a.buttons-collection .fa {
    padding-left: 4px;
}
div.dt-button-collection {
    padding: 0px;
}
div.dt-button-collection a.dt-button {
  text-align: left;
  background-color: #ffffff;
  margin: 0px;
}
div.dt-button-collection a.dt-button:hover {
  border: none;
  background: #f5f5f5;
}
.dropright .dropdown-menu {
  left: initial;
  right: 0;
}
.img-datatable {
  width: 32px;
  height: 32px;
}
/*********************/
/*      FTP       */
/*********************/
#file-manager .list-view>tbody tr {
  border-bottom-color: rgba(0,0,0,.12);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#file-manager .list-view>tbody tr.select-ftp-blue {
    background: rgb(180, 221, 228);
}
.custom-file-input{
  position: absolute;
  height: auto;
}
#contextMenu {
  position: absolute;
  display: none;
  z-index: 9999;
}
#loading-time p {
  display: inline-block;
}
#loading-time p i {
  display: block;
  width: auto;
}

.CodeMirror {
  position: absolute;
  top: 64px;
  height: 100%;
  width: 100%;
  z-index: 999;
  font-size: 16px;
}
/****************************/
/*      DOCUMENTATION       */
/****************************/
.tocify li.tocify-item.active, .tocify li.tocify-item.active a, .tocify .nav li.tocify-item:hover, .tocify .nav li.tocify-item:hover a {
    background-color: #565090;
    color: #ffffff !important;
}
.tocify-area{
    margin-left: 0px;
    margin-right: 0px;
}
.tocify ul {
    width: 100%;
}
.tocify li.tocify-item {
    background-color: #fafafa;
    margin-bottom: 1px;
    display: block;
    color: #555555;
    padding-left: 0px;
    width: 100%;
}
.tocify li.tocify-item.active {
    background-color: #565090 !important;
}
.tocify ul.tocify-subheader li.tocify-item  {
    background-color: #c8c6e1;
}
.tocify li.tocify-item a {
    color: #555555;
}
.tocify {
    width: auto;
    max-height: auto;
    overflow: auto;
    position: fixed;
    border: 0px;
    webkit-border-radius: 0px;
    moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-left: 0px;
    min-width: 210px;
    padding: 0px;
}
/*********************/
/*      PROJECTS       */
/*********************/
h1.title-view-project {
    color: #1b222c;
}
table.dataTable tbody tr.canceled {
  background: #f4cccc;
}
table.dataTable tbody tr.in-progress {
  background: #fff2cc;
}
table.dataTable tbody tr.completed {
  background: #d9ead3;
}
table#table-view-project .progress {
  width: 20%;
  display: inline-block;
}
.add-card-form {
  display: none;
}
#all-projects select {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#all-projects select.form-control {
    background-position: right 13px center;
}
#autocomplete-user {
  display: none;
}
/***************************/
/*      PROJECT VIEW       */
/***************************/
.steps-form {
    display: table;
    width: 100%;
    position: relative; }
.steps-form .steps-row {
    display: table-row; }
.steps-form .steps-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc; }
.steps-form .steps-row .steps-step {
    display: table-cell;
    text-align: center;
    position: relative; }
.steps-form .steps-row .steps-step p {
    margin-top: 0.5rem; }
.steps-form .steps-row .steps-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important; }
.steps-form .steps-row .steps-step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0; }
/*********************/
/*      CUSTOM       */
/*********************/
.actions {
  display: inline-block;
}
.navbar-left > li > a, .navbar-right > li > a {
    font-size: 18px;
}
.fixed-table-container {
    height: 100%;
}
input[type=search] {
	-webkit-appearance: textfield;
}
.modal-header-success {
	color:#fff;
	padding:9px 15px;
	border-bottom:1px solid #eee;
	background-color: #5cb85c;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-header-warning {
	color:#fff;
	padding:9px 15px;
	border-bottom:1px solid #eee;
	background-color: #f0ad4e;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-header-danger {
	color:#fff;
	padding:9px 15px;
	border-bottom:1px solid #eee;
	background-color: #d9534f;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-header-info {
	color:#fff;
	padding:9px 15px;
	border-bottom:1px solid #eee;
	background-color: #5bc0de;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.modal-header-primary {
	color:#fff;
	padding:9px 15px;
	border-bottom:1px solid #eee;
	background-color: #428bca;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

label.btn {
    padding: 18px 60px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}

label.btn:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}
label.btn-block {
    text-align: left;
    position: relative
}

label .btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: rgba(0,0,0,.15);
    height: 100%
}
.btn-white {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: rgba(150, 160, 180, 0.3);
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05) inset;
}
label .glyphicon {
    top: 34%
}












#all-projects.layout #wrapper>.content-wrapper>.content {
    flex-direction: row;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
}
.kanban-centered {
    position: relative;
    margin-bottom: 30px;
}
.kanban-centered:before, .kanban-centered:after {
content: " ";
display: table;
}

.kanban-centered:after {
clear: both;
}

.kanban-centered:before, .kanban-centered:after {
content: " ";
display: table;
}

.kanban-centered:after {
clear: both;
}

.kanban-centered:before {
content: '';
position: absolute;
display: block;
width: 2px;
top: 20px;
bottom: 20px;
}

.kanban-centered .kanban-entry {
position: relative;
margin: 10px 8px;
clear: both;
border-radius: 4px;
-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
-moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.5);
}

.kanban-centered .kanban-entry:before, .kanban-centered .kanban-entry:after {
content: " ";
display: table;
}

.kanban-centered .kanban-entry:after {
clear: both;
}

.kanban-centered .kanban-entry:before, .kanban-centered .kanban-entry:after {
content: " ";
display: table;
}

.kanban-centered .kanban-entry:after {
clear: both;
}

.kanban-centered .kanban-entry.begin {
margin-bottom: 0;
}

.kanban-centered .kanban-entry.left-aligned {
float: left;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner {
margin-left: 0;
margin-right: -18px;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-time {
left: auto;
right: -100px;
text-align: left;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-icon {
float: right;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-label {
margin-left: 0;
margin-right: 70px;
}

.kanban-centered .kanban-entry.left-aligned .kanban-entry-inner .kanban-label:after {
left: auto;
right: 0;
margin-left: 0;
margin-right: -9px;
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-ms-transform: rotate(180deg);
transform: rotate(180deg);
}

.kanban-centered .kanban-entry .kanban-entry-inner {
position: relative;
}
.kanban-centered .kanban-entry .kanban-entry-inner:before, .kanban-centered .kanban-entry .kanban-entry-inner:after {
content: " ";
display: table;
}
.kanban-centered .kanban-entry .kanban-entry-inner:after {
clear: both;
}
.kanban-centered .kanban-entry .kanban-entry-inner:before, .kanban-centered .kanban-entry .kanban-entry-inner:after {
content: " ";
display: table;
}
.kanban-centered .kanban-entry .kanban-entry-inner:after {
clear: both;
}
.kanban-centered .kanban-entry .kanban-entry-inner .kanban-time {
position: absolute;
left: -100px;
text-align: right;
padding: 10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.kanban-centered .kanban-entry .kanban-entry-inner .kanban-time > span {
display: block;
}
.kanban-centered .kanban-entry .kanban-entry-inner .kanban-time > span:first-child {
font-size: 15px;
font-weight: bold;
}
.kanban-centered .kanban-entry .kanban-entry-inner .kanban-time > span:last-child {
font-size: 12px;
}
.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon {
background: #fff;
color: #737881;
display: block;
width: 25px;
height: 25px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
text-align: center;
-moz-box-shadow: 0 0 0 4px #f5f5f6;
-webkit-box-shadow: 0 0 0 4px #f5f5f6;
box-shadow: 0 0 0 4px #f5f5f6;
float: left;
margin-top: 6px;
}
.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-primary {
background-color: #303641;
color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-secondary {
background-color: #ee4749;
color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-success {
background-color: #00a651;
color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-info {
background-color: #21a9e1;
color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-warning {
background-color: #fad839;
color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-icon.bg-danger {
background-color: #cc2424;
color: #fff;
}

.kanban-centered .kanban-entry .kanban-entry-inner .kanban-label {
position: relative;
background: #f5f5f6;
padding: 0.75em;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
  .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2, .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label p {
    color: #737881;
    font-family: "Noto Sans",sans-serif;
    font-size: 12px;
    margin: 0;
    line-height: 1.428571429;
  }
  .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label p + p {
    margin-top: 15px;
  }
  .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2 a {
    color: #303641;
  }
  .kanban-centered .kanban-entry .kanban-entry-inner .kanban-label h2 span {
    -webkit-opacity: .6;
    -moz-opacity: .6;
    opacity: .6;
    -ms-filter: alpha(opacity=60);
    filter: alpha(opacity=60);
  }

  .modal-static {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  margin-top: -100px;
  margin-left: -100px;
  overflow: visible !important;
  }
  .modal-static,
  .modal-static .modal-dialog,
  .modal-static .modal-content {
  width: 200px;
  height: 150px;
  }
  .modal-static .modal-dialog,
  .modal-static .modal-content {
  padding: 0 !important;
  margin: 0 !important;
  }
  .kanban-col {
  width: 23%;
  margin-right: 2%;
  }
  .panel-body {
  padding: 15px 0 0 0;
  overflow-y: auto;
  }
  .grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  }
  .grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  }
  .panel-heading {
  cursor: context-menu;
  }
  .panel-heading i {
  cursor: pointer;
  }